extends ../layouts/default
include ../mixins/cards.pug
block content
	.container.form-container
		.row
			.col-12
				h1=form.name
			.col-12
				h3=form.date
				h4=form.user.name
			.col-12
				a.btn.btn-danger.float-right.right-button(href='delete/') Eyða
				a.btn.btn-primary.float-right.right-button(href='edit/') Breyta
				a.btn.btn-secondary.float-right(href='/jobs/'+form.job._id) Til baka
			.col-12
				hr
			.col-lg-6
				+job-card(form.job)
			.col-lg-6
				+customer-card(form.job.customer)
			.col-12
				p
					a.btn.btn-secondary(data-toggle='collapse', href='#attributes', aria-expanded='false', aria-controls='attributes')
						| Sýna nánar
					#attributes.collapse
						.card.card-block.table-card
							table.table
								thead
									tr
										each title in titles
											if title=='Athugasemd'
												th.card-table-head.column-hd-sm(scope='col')=title
											else
												th.card-table-head(scope='col')=title

								tbody
									each val,idx in attributes
										tr
											td=val.identifier
											if val.isOk
												td
													i.fa.fa-check
											else
												td
													i.fa.fa-times
											if val.isFixed
												td
													i.fa.fa-check
											else
												td
													i.fa.fa-times
											if val.comment
												td.column-hd-sm=val.comment
											else
												td.column-hd-sm Engin athugasemd

