extends ../layouts/default

block content

	.container.form-container
		.row
			.col-12
				form(method='post')
					.form-group
						label(for='name') Nafn
						input(name='name')#name.form-control(type='text', placeholder='Nýtt nafn' value=form.name)
					.form-group.row
						.col-6
							label(for='user') Starfsmaður
							select(name='user')#user.form-control
								each user in users
									if user._id.equals(form.user._id)
										option(value=user._id selected=true)=user.name
									else
										option(value=user._id)=user.name
						.col-6
							label(for='job') Verkefni
							select(name='job')#job.form-control
								each job in jobs
									if job._id.equals(form.job._id)
										option(value=job._id selected=true)=job.name
									else
										option(value=job._id)=job.name
					.form-group
						label(for='date') Dagsetning
						input(name='date')#date.form-control(type='date', value=form.formDate)
					.form-group
						label(for='diary') Dagbók
						textarea(name='diary')#diary.form-control(rows='3')=form.diary
					button.btn.btn-primary(type='submit') Submit

