extends ../layouts/default
include ../mixins/tables.pug

block content
	.container-fluid.endpoint-container
		.row.endpoint-row
			.col-xl-3.col-md-5.col-12.left-column
				.row
					.col-12
						h4=job.name
						p=job.prettyDate
						hr
					.col-12
						.card
							.card-block
								h3.card-title=job.customer.name
								p.card-text=job.customer.location.street1+', '+job.customer.location.suburb
							.card-footer
								a.btn.btn-primary.btn-sm.float-right(href='/customers/'+job.customer._id+'/') skoða
						hr
					.col-12
						.card
							.card-block
								h3.card-title=job.user.name
								p.card-text=job.user.email
							.card-footer
								a.btn.btn-primary.btn-sm.float-right(href='/users/'+job.user._id+'/') skoða
						hr
					.col-12
							a.btn.btn-primary.float-right(href='edit/') Breyta verkefni
			.col-xl-9.col-md-7.col-12.table-column
				+overview-table(type,titles,selected)
