mixin customer-card(customer)
	.card
		.card-block
			h3.card-title=customer.name
			p.card-text=customer.location.street1+', '+customer.location.suburb
		.card-footer
			a.btn.btn-primary.btn-sm.float-right(href='/customers/'+customer._id+'/') skoða

mixin job-card(job)
	.card
		.card-block
			h3.card-title=job.name
			p.card-text=job.user.name
		.card-footer
			a.btn.btn-primary.btn-sm.float-right(href='/jobs/'+jobs._id+'/') skoða

mixin user-card(user)
	.card
		.card-block
			h3.card-title=user.name
			p.card-text=user.email
		.card-footer
			a.btn.btn-primary.btn-sm.float-right(href='/users/'+user._id+'/') skoða