mixin helpModal(title, textBody)
	#help-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='help-modal', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title=title
				.modal-body
					p=textBody
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Loka
mixin formModal()
	#form-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='form-modal', aria-hidden='true')
		form(method='post' action='/create/forms')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						if jobs
							h5.modal-title Ný skýrsla
						else
							h5.modal-title Engin verkefni til
						button.close(type='button', data-dismiss='modal', aria-label='loka')
							span(aria-hidden='true') ×
					.modal-body
						if jobs
							.form-group
								label(for='name') Nafn
								input(name='name' type='text', placeholder='Nýtt nafn')#name.form-control
							.form-group.row
								.col-6
									label(for='user') Starfsmaður
									select(name='user')#user.form-control
										each user in users
											if user._id == currentUser._id
												option(value=user._id selected=true)=user.name
											else
												option(value=user._id)=user.name
								.col-6
									label(for='job') Verkefni
									select(name='job')#job.form-control
										each j in jobs
											if job && j._id == job._id
												option(value=j._id selected=true)=j.name
											else
												option(value=j._id)=j.name
						else
							p Til að búa til skýrslu þarf fyrst að búa til verkefni.
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Loka
						if jobs
							button.btn.btn-primary(type='submit') Vista
						else
							button.btn.btn-primary#new-job(type='button' data-dismiss='modal') Nýtt verkefni

mixin jobModal()
	#job-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='job-modal', aria-hidden='true')
		form(method='post' action='/create/jobs')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						if customers
							h5.modal-title Nýtt verkefni
						else
							h5.modal-title Engir viðskiptavinir til
						button.close(type='button', data-dismiss='modal', aria-label='loka')
							span(aria-hidden='true') ×
					.modal-body
						if customers
							.form-group
								label(for='name') Nafn
								input(name='name' type='text')#name.form-control
							.form-group.row
								.col-6
									label(for='user') Eigandi verks
									select(name='user')#user.form-control
										each user in users
											if user._id == currentUser._id
												option(value=user._id selected=true)=user.name
											else
												option(value=user._id)=user.name
								.col-6
									label(for='customer') Viðskiptavinur
									select(name='customer')#customer.form-control
										each c in customers
											if customer && c._id == customer._id
												option(value=c._id selected=true)=c.name
											else
												option(value=c._id)=c.name
							.form-group
								label(for='period') Tíðni skoðana
								input(name='period' type='number', min="0")#period.form-control
						else
							p Til að búa til verkefni þarf fyrst að búa til viðskiptavin.
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Loka
						if customers
							button.btn.btn-primary(type='submit') Vista
						else
							button.btn.btn-primary#new-customers(type='button') Nýr viðskiptavinur