extends ../../layouts/default

block content
	.container.form-container
		.row
			.col-12
				form(method='post')
					.form-group
						label(for='name') Nafn
						input(name='name')#name.form-control(type='text', value=job.name)
					.form-group.row
						.col-6
							label(for='user') Eigandi verks
							select(name='user')#user.form-control
								each user in users
									if user._id.equals(job.user._id)
										option(value=user._id selected=true)=user.name
									else
										option(value=user._id)=user.name
						.col-6
							label(for='customer') Viðskiptavinur
							select(name='customer')#customer.form-control
								each customer in customers
									if customer._id.equals(job.customer._id)
										option(value=customer._id selected=true)=customer.name
									else
										option(value=customer._id)=customer.name
					.form-group
						label(for='period') Tíðni skoðana
						input(name='period')#period.form-control(type='number', value=job.period)

					button.btn.btn-primary.float-right.right-button(type='submit') Breyta
					a.btn.btn-secondary.float-right(href='../') Til baka

