extends ../../layouts/default

block content

	.container.form-container
		.row
			.col-12
				h4 Grunnupplýsingar
			.col-12
				form(method='post')
					.form-group
						label(for='name') Nafn
						input#name.form-control(name='name' type='text', placeholder='Nýtt nafn' value=form.name)
					.form-group.row
						.col-6
							label(for='user') Starfsmaður
							select(name='user')#user.form-control
								each user in users
									if user._id==form.user._id
										option(value=user._id selected=true)=user.name
									else
										option(value=user._id)=user.name
						.col-6
							label(for='job') Verkefni
							select(name='job')#job.form-control
								each job in jobs
									if job._id==form.job._id
										option(value=job._id selected=true)=job.name
									else
										option(value=job._id)=job.name
					.form-group
						label Dagsetning
						input.form-control(name='date', type='date', value=form.formDate)
					.form-group.row
						.col-12
							h4 Mælingar
							.row
								each val,idx in measurements
									.col-md-6.col-12.form-group
										label=val.identifier
										.input-group
											input(type='number', value=val.value, step=0.1).form-control
											span.input-group-addon=val.unit
					.form-group.row
						.col-12
								h4 Annað
						.col-12
							p
								a.btn.btn-secondary(data-toggle='collapse', href='#attributes', aria-expanded='false', aria-controls='attributes')
									| Sýna nánar
							#attributes.collapse
								.card.card-block.attribute-card
									input#nAttributes(type='hidden', name='nAttributes', value=count)
									input#attributes(type='hidden',name='attributes')
									.row
										each val,idx in attributes
											.col-md-6.col-12.attribute-column
												.card.card-block
													.row
														.col-md-3.col-12
															b=val.identifier
														.col-md-9.col-12
															.form-check.form-check-inline.float-right
																label.custom-control.custom-checkbox.form-check-label
																	input.custom-control-input.form-check-input.isOk(type='checkbox' checked=val.isOk data-key=idx)
																	span.custom-control-indicator
																	span.custom-control-description Í lagi
															.form-check.form-check-inline.float-right
																label.custom-control.custom-checkbox.form-check-label
																	input.custom-control-input.form-check-input.isFixed(type='checkbox' checked=val.isFixed data-key=idx)
																	span.custom-control-indicator
																	span.custom-control-description Viðgert
														.col-md-9.col-12
															textarea.form-control.comment(rows='1', placeholder='Athugasemd...', data-key=idx)=val.comment
					.form-group
						label(for='diary') Dagbók
						textarea(name='diary', rows='3')#diary.form-control=form.diary
					button.btn.btn-primary.float-right#change-form.right-button(type='submit') Breyta
					a.btn.btn-secondary.float-right(href='../') Til baka